#url-div{
		margin: 15px auto;	
	}

	#url-span{
		color: #0066FF;
	}

	#bug-email{
		position: absolute;
		bottom: 10;
	}

	#personal-email{
		color: blue;
	}

	.tree-calc-input{
		margin: 2px auto;
		height: 25px;
		width: 100px;
	}

	.calc-result{
		padding-top: 10px;
		font-weight: bold;
		font-size: 16px;
	}

	.short-calc-description{
		clear: both;
	}

	.tooltip-icon{
		width: 20px;
		height: 20px;
		margin: 3px;
		float: right;
	}

	.menu-option{
		text-align: center;
		padding-top: 15px;
		width: 100%;
		height: 30px;
		border-style: solid;
		border-width: 1px;
		border-color: black;
		margin-bottom: 1px;
	}

	.menu-option:hover{
		background-color: #D4D4BF;
		color: #0066FF;
		border-color: #0066FF;
		font-weight: bold;
		cursor: hand;
	}

	#title-content-div{
		display: inline-block;
		height: 40px;
	}

	#menu-button{
		float: left;
		height: 40px;
		width: 40px;
		background-color: #0066FF;
	}

	#menu-button:hover{
		background-color: white;
	}

	#menu-bar{
		margin-bottom: 10px;
	}

	.selector-button{
		border-style: solid;
		border-width: 1px;
		border-color: LightGray;
		width: 90px;
		height: 20px;
		display: inline-block;
		margin-bottom: 10px;
	}

	.selector-button:hover{
		color: black;
		background-color: #fff;
		border-style: solid;
		border-width: 1px;
		border-color: #0066FF;
	}

	.solution_view{
		text-align: center;
		background-color: #EBE8E9;
		height: 65px;
		width: 200px;
		margin-top: 15px;
		margin-left: 25px;
		border: solid 1px black;
	}

	.calculation-input-small{
		margin: 5px 10px;
		height: 30px;
		width: 80px;
		display: inline-block;
	}

	.erv-calculation-input{
		margin: 5px 10px;
		height: 30px;
		width: 80px;
		clear: both;
	}

	.calculate-button{
		background-color: #0066FF;
		color: #fff;
		border-style: none;
		width: 150px;
		height: 25px;
	}

	.calculate-button:hover{
		color: #0066FF;
		background-color: #fff;
		border-style: solid;
		border-width: 1px;
		border-color: #0066FF;
	}

	.clear-input-button{
		background-color: #0066FF;
		color: #fff;
		border-style: none;
		width: 25px;
		height: 25px;
	}

	.clear-input-button:hover{
		color: #0066FF;
		background-color: #fff;
		border-style: solid;
		border-width: 1px;
		border-color: #0066FF;
	}

	#main_extension_container{
		text-align: center;
		width: 250px;
	}

	#combination-permutation-view{	
		display: none;	
	}

	#edges-degrees-view{
		display: none;
	}

	#tree-data-view{
		display: none;
	}

	#resources-view{
		display: none;
	}

	#combinationView{
		display: none;
	}

	#permutationView{
		display: none;
	}

	.com-perm-view{
		text-align: center;
	}